# $Id$
#----------------------------------------------------------------
# Simpleproxy sample cfg file.
# All values here could be overriden by command line options.
#----------------------------------------------------------------

Verbose                 yes
StartedFromInetd        no
Daemon                  no
#pidfile                /var/run/simpleproxy.pid
#Pop3File               pop3users.txt
                  
LocalHost               :4321
RemoteHost              some.host.com:1234
                  
Strip8bit               no
                  
#HTTPSProxyHost         some.proxy.host.com:1234

